@tailwind base;
@tailwind components;
@tailwind utilities;

.Movie-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

  .Movie-wrapper {
    width: 500px;
    background-color: antiquewhite;
    color: black;

  }
.Movie-title{
  height: 60px;
  text-align: center;
}
   

  @media screen and (max-width: 1400px) {
    .Movie-container {
      flex-basis: calc(33.33% - 10px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .Movie-wrapper {
      flex-basis: 100%;
    }
  }
